# Ignore vscode stuff
.vscode/

# Ignore outfiles
*.elf
*.hex
*.bin
*.out
*.o

# Ignore text files
*.txt

# Ignore doxygen output
doxy/

# Ignore gdb files
*.gdb

# ignore scratch files
scratch/

# ignore python virtual environment
.venv/