##################################################
# Scratch Files
##################################################
scratch*

##################################################
# Application Binaries
##################################################
build
*.o

##################################################
# Unit Test Binaries
##################################################
unit_arcfile
unit_bookmark
