##################################################
# Scratch Files
##################################################
scratch

##################################################
# Build Files
##################################################
build
*.o
*.elf
*.asm

##################################################
# Unit Test Binaries
##################################################
unit_arcfile
unit_bookmark
